



<h2> <%= @item.title %> </h2>
<p> <%= @item.description %> </p>
<p> showhtmlfile <%= @item.description %> </p>


<%= link_to "Back", root_path %>
<!-- <%= link_to "Edit", edit_item_path(@item) %> -->
<%= link_to "Delete", item_path(@item), method: :delete,
 data: { confirm: "Are you sure" } %>
